*{
    margin: 0;
}

.container{
    display:flex;
}
h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}
.header{
    display: flex;
    padding-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
    
    gap: 10px;
}
.hero2, .hd{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    background-color: #3882F6;
    color: white;
    border-radius: 10%;
    border: 1px solid white;
}

.hd1{
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}

.firstSection{
    background-color: #1F2937;
    padding-bottom: 48px;
}

.sectionFirst{
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 150px;
    margin-left: 150px;
    
}
.box{
    height: 150px;
    width: 100px;
}

.sc1{
    justify-content: space-evenly;

    margin-right: 400px;
    margin-left: 400px;
}
.secondSection{
    margin-top: 24px;
    padding-bottom: 80px;
}
.box1{
    height: 100px;
    width: 100px;
    border: 3px solid #3b82f6;
    border-radius: 15%;
}
.sc1{
    padding-bottom: 50px;
}
.p{
    margin-top: 5px;
}
.trirdSection{
    background-color: #e5e7eb;
}
.pp{
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
}
.pp1{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
.pp2{

    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}
.cc12{
    display: flex;
    width: 60%;
    background-color: #3882F6;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px 50px;
    color: #f9faf8;
    border-radius: 5px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #1F2937;
    color: white;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.illustration{
    border-radius: 15%;
}