.container{
    display:flex;
}
.header{
    display: flex;

}

.hd1{
    flex: 1;
}

.firstSection{
    background-color: #1F2937;
    color: white;
}

.sectionFirst{
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    margin-bottom: 48px;

}
.box{
    height: 150px;
    width: 100px;
}

.sc1{
    justify-content: space-evenly;

    margin-right: 400px;
    margin-left: 400px;
}
